# AWS_KEY/AWS_SECRET: claves del usuario IAM con escritura en site/*
APP_ENV=pro
APP_VERBOSE=1
APP_API=api
APP_QUEUE=
LOC_TIMEZONE=Europe/Madrid
DB_ADAPTER=PostgreSQL
DB_HOST=
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_STAGE_DIR=stage
DB_DATABASE=manythings
AWS_KEY=
AWS_SECRET=
AWS_REGION=eu-west-1
S3_BUCKET=
CWL_GROUP=
PUSHOVER_USER=
PUSHOVER_TOKEN=
